/*********************  fonts *****************************/
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gotham_medium.ttf");
  font-weight: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gotham_light.ttf");
  font-weight: 200; }
/*********************** colores ***********************/
/********************** resoluciones ********************/
/********************** mixines *************************/
/***transiciones **/
/** animaciones **/
/*// scale*/
/*// translate*/
/*// skew*/
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gotham_medium.ttf");
  font-weight: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/gotham_light.ttf");
  font-weight: 200; }
header {
  position: fixed;
  display: none; }

.container {
  text-align: center; }
  .container .movil {
    position: fixed;
    width: 25vw;
    height: 45vw;
    top: 4vw;
    left: 37.5vw; }
    @media (max-width: 768px) {
      .container .movil {
        width: 100vw;
        height: 100vh;
        bottom: 0;
        left: 0; } }
    .container .movil img {
      position: absolute; }
    .container .movil .ini {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px 5px 27px rgba(0, 0, 0, 0.5); }
    .container .movil .logo_home {
      width: 50%;
      left: 25%;
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      top: 53%; }
    .container .movil .app_consejo {
      bottom: 3%;
      height: 25%;
      left: 5%; }
    .container .movil .app_bocadillo {
      bottom: 3%;
      height: 25%;
      left: 35%; }
    .container .movil .ciudad {
      position: absolute;
      bottom: 18%;
      left: 20%;
      width: 60%;
      font-family: gotham, helvetica, sans-serif;
      font-weight: 200; }
      .container .movil .ciudad input {
        display: block;
        width: 100%;
        height: 2em;
        padding: 1em;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 1em; }
    .container .movil a {
      position: absolute;
      bottom: 15%;
      left: 20%;
      width: 60%;
      display: block;
      padding: 6px 12px;
      font-size: 14px;
      font-family: gotham, helvetica, sans-serif;
      font-weight: normal;
      line-height: 1.42857143;
      color: #fff;
      background-color: #364958;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 1em; }
  .container .datos {
    display: block;
    position: fixed;
    top: 5vh;
    left: 5vw;
    width: 20vw; }
  .container .consejos > :first-child {
    width: 40%;
    left: 30%;
    height: 25%;
    top: 15%; }
    .container .consejos > :first-child:after {
      content: "pues no se que esta pasando";
      display: block !important;
      position: absolute;
      top: 232%;
      left: 30%;
      width: 126%;
      height: 90%;
      background-color: #364958;
      color: white;
      border-radius: 1em;
      padding-top: 35%; }
  .container .consejos > :nth-child(2) {
    width: 15%;
    height: 13%;
    bottom: 30%;
    left: 18%; }
  .container .consejos > :nth-child(3) {
    width: 15%;
    height: 13%;
    bottom: 30%;
    left: 43%; }
  .container .consejos > :nth-child(4) {
    width: 15%;
    height: 13%;
    bottom: 30%;
    left: 68%; }
  .container .consejos .icons {
    position: absolute;
    display: block;
    background-image: url(../images/icons.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: gotham, helvetica, sans-serif;
    font-weight: 200; }
    .container .consejos .icons:after {
      display: none; }
    .container .consejos .icons.calor {
      background-position-x: 64%; }
      .container .consejos .icons.calor:after {
        content: "el del tiempo siempre dice que hay que hidratarse!"; }
      .container .consejos .icons.calor:first-child {
        background-position-x: 65%; }
    .container .consejos .icons.sol {
      background-position-x: 93%; }
      .container .consejos .icons.sol:after {
        content: "En junio si pica el sol, ni mujer ni caracol."; }
      .container .consejos .icons.sol:first-child {
        background-position-x: 95%; }
    .container .consejos .icons.lluvia {
      background-position-x: 5%; }
      .container .consejos .icons.lluvia:after {
        content: "Si llueve a primeros de junio, el buen tiempo esta lejos"; }
      .container .consejos .icons.lluvia:first-child {
        background-position-x: 4%; }

/*# sourceMappingURL=styles.css.map */
